@import '../../index.scss';

.wrapper {
  margin: 0;
  margin-top: $headerV;
  max-width: $desctop;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.codeWrapper {
  margin: 0 50px;
  padding: 10px;
  background-color: #fff;
  flex: 1;
}

.graphiqlWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90vh;
  gap: 10px;
}

.graphqlResponse {
  overflow: auto;
  min-width: 300px;
  width: 500px;
  color: #abb2bf;
  background-color: #282c34;
  min-height: 300px;
  height: 90vh;
}

.editorTool {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.editorToolButtons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  height: 20px;
  margin-bottom: 0.5rem;
}

.editorToolBtn {
  background-color: #f3f7fe;
  color: $link-color;
  border: none;
  border-radius: 8px;
  width: 125px;
  height: 100%;
  transition: .3s;
  cursor: pointer;
}

.editorToolBtn:hover {
  background-color: #3498db;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}

.editorToolBtnActive {
  background-color: #3498db;
  color: #fff;
}

.responseBtnContainer {
  width: 100%;
  height: 20px;
}

.queryEditor {
  margin-bottom: 1rem;
}

.schemaWrapper {
  position: absolute;
  right: 0;
  background-color: #FFF;
  height: 90%;
  width: 0;
  z-index: 40;
  border-left: none;
}

.schemaOpen {
  width: 400px;
  border-left: 2px solid #D6D8DE;
  box-shadow: 0px 8px 16px -6px rgba(24, 39, 75, 0.08), 0px 6px 8px -6px rgba(24, 39, 75, 0.12);

}

.schemaButtons {
  position: absolute;
  z-index: 3;
  height: 0px;
  top: 240px;
}

.schemaBlock {
  display: flex;
  overflow: auto;
  position: relative;
  height: 100%;
  letter-spacing: 0.3px;
  box-shadow: rgba(0, 0, 0, 0.3) -1px 1px 6px 0px;
  outline: none;
}

.schemaOpenButton {
  z-index: 2;
  padding: 8px;
  border-radius: 2px 2px 0px 0px;
  color: rgb(255, 255, 255);
  background: rgb(61, 88, 102);
  box-shadow: rgba(0, 0, 0, 0.3) -1px 1px 6px 0px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.45px;
  cursor: pointer;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  margin-top: 65px;
  width: 75px;
}