.wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
}

.codeWrapper {
    margin: 0 50px;
    padding: 10px;
    background-color: beige;
    flex: 1;
}

.graphiqlWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70vh;
}

.graphqlResponse {
    overflow: auto;
    width: 500px;
    background-color: cadetblue;
}

.editorTool {
    display: flex;
    flex-direction: column;
}

.queryEditor {
    margin-bottom: 1rem;
}

.schemaWrapper {
    position: absolute;
    right: -400px;
    background-color: rgb(207, 190, 177);
    height: 100%;
    width: 400px;
    z-index: 55;
}

.schemaOpen {
    right: 0;
}

.schemaButtons {
    position: absolute;
    z-index: 3;
    height: 0px;
    top: 240px;
}

.schemaOpenButton {
    z-index: 2;
    padding: 8px;
    border-radius: 2px 2px 0px 0px;
    color: rgb(255, 255, 255);
    background: rgb(61, 88, 102);
    box-shadow: rgba(0, 0, 0, 0.3) -1px 1px 6px 0px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.45px;
    cursor: pointer;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    margin-top: 65px;
    width: 70px;
}