@import '../../index.scss';
.footer {
  width: 100vw;
  margin-top: 1rem;
}

.footerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: $desctop;
  margin: 0 auto;
  padding: 20px 10px;
  background-color: $link-color;
  color: #fff;
}
.linksGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.footerLink {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: #ffffffa3;
    text-decoration: underline;
  }
}

.footerLogo {
  height: 23px;
  width: 60px;
  background-image: url(./../../assets/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
