// basic constants
$font-stack:    Helvetica, sans-serif;
$font-size: 14px;
$primary-color: #4821a4;
$link-color: #3498db;
$link-color-hover:#085181;
$error-color:#ff0000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body{
  font-family: $font-stack;
  font-size:  $font-size;
 }